@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

.app {
    min-height: 100vh;
    border: 3px solid transparent;
    box-sizing: border-box;
    background-color: #ffffff;
    opacity: 1;
    background-image:  linear-gradient(#6D9054 1.1px, transparent 1.1px), 
    linear-gradient(to right, #6D9054 1.1px, #ffffff 1.1px);
    background-size: 22px 22px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
}

input {
    font-size: 15px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px 0 0 25px;
    border: none;
    outline: none;
}

input::placeholder {
    font-size: 13px;
    text-align: left;
}

.rm-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.roadmap-building {
    margin-inline: 20px;
    margin-block: 30px;
    background-color: #9DC08B;
    min-height: 70vh;
    min-width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roadmap-building {
    border-radius: 25px;
}


/* BUTTONS STYLING */

.cross-but {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: 0.5ms;
    font-weight: 600;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.cross-but:hover {
    background-color: #9DB2BF;
}

.final-sub {
    font-size: 15px;
    left: -10px;
    padding: 10px;
    border-radius: 0 25px 25px 0;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #6D9054;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease 0s;
}

.final-sub:hover {
    background-color: #4A6932;
}

/* BUTTONS STYLING ENDS*/

.checkpoints-li {
    border: 2px solid black;
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkpoints-list ul {
    min-width: 300px;
    padding: 0;
}

.material-symbols-outlined {
    vertical-align: middle;
}