@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

/* FOOTER DESIGNING */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(95, 141, 78);
    background: linear-gradient(to bottom, rgba(95, 141, 78, 1) 0%, rgba(194, 223, 184, 1) 100%);
}

.s-phrase {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.us {
    min-height: 50vh;
    min-width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-inline: 10vh;
    gap: 50px;
    justify-content: space-between;
    padding: 10PX;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items:flex-start;
    justify-content: center;
    padding-inline: 10px;
}

.people>img {
    height: 210px;
    border-radius: 50%;
    transition: 01s ease;
}

.people{
    display: flex;
    background-color: #638651;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.5);
}

.people>img:hover{
    border-radius: 25%;
}


.people p{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.5px;
    font-weight:bold;
}


.social-icon {
    height: 40px;
    transition: transform 1000ms;
}

.social-icon:hover{
    transform: translateY(-0.40rem);

}

.socials {
    display: grid;
    grid-template-columns: repeat(5, 44px);
    gap: 15px;
    justify-items: center;
    padding-block: 10px;
}
