.forest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
    gap: 1rem;
}

.forest .contactBtn {
    background-color: #884A39;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.5px;
    transition: 0.8s ease;
}

.forest .contactBtn:hover {
    letter-spacing: 2px;
}

.tree-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
    height: 70vh;
    overflow: hidden;
    background-image: url('../images/smallG.png');
    background-size: cover;
    /* padding: 50px; */
    border-radius: 25px;
    transition: transform 0.8s ease;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.tree-container:hover {
    transform: translateY(-0.40rem)
}

.tree {
    height: 85px;
    gap: 10px;
    padding: 10px;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}


/* FLOW CHART AND FOREST TOGETHER */
#flow-tree-yes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.discoBtn {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block;
    margin: auto;
    padding: 1rem 1.9rem;
    background-color: beige;
    color: #884A39;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 3px solid transparent;
        transition: border-width 0.25s;
        border-image: linear-gradient(135deg, #A0038B, #FD0000, #FDFD00);
        border-image-slice: 1;
        pointer-events: none;
        filter: hue-rotate(0deg);
        animation: 1s linear 0s infinite normal both paused hueShift;
        border-width: 7px;
        animation-play-state: running;
        transition: 0.5s ease;
    }

    &:hover:before {
        font-weight: bold;
        box-shadow: 0px 0px 80px #9DC08B, 0px 0px 80px #9DC08B, 0px 0px 80px #9DC08B;

    }
}

@keyframes hueShift {
    100% {
        filter: hue-rotate(360deg);
    }
}