@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

/* HEADER DESIGNING STARTS*/
header>h1>a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
}

.app-logo {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 60px;
    font-style: italic;
    cursor: pointer;
    margin-right: auto;
    margin-block: 0px;
}


li,
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 10px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    color: #1D2A10;

}

.nav-links li a:hover {
    color: #4A6932;
}

.contactBtn {
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 9px 25px;
    background-color: #9DC08B;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contactBtn:hover {
    background-color: #C7E9B0;
}

.focus-onstart {
    animation: myAnimation 2s ease;
    animation-iteration-count: 8;
    animation-timing-function: ease-in-out;
}

@keyframes myAnimation {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }

}

    /* HEADER DESIGNING ENDS*/