@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

/* HEADER DESIGNING STARTS*/
.app-logo {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 60px;
    font-style: italic;
    cursor: pointer;
    margin-right: auto;
}

li,
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

header {
    margin-top: -3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 25px;
    padding-bottom: 0px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

.contactBtn {
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 9px 25px;
    background-color: #9DC08B;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contactBtn:hover {
    background-color: #C7E9B0;
}

/* HEADER DESIGNING ENDS*/